/* 
Color Pallet: CMU website theme
*/

.themeColor1 {
    background-color: #860037;
}

.themeColor2 {
    background-color: #ffd200;
}

.themeColor3 {
    background-color: #333333;
}

.themeColor4 {
    background-color: #EEEEEE;
}

.themeColor5 {
    background-color: #ffffff;
}


/* 

*/

